body{
   background-color: rgb(170, 169, 169);
}
div.social-post{
    margin: auto;
    overflow: hidden;
    top: 0pt;
    bottom: 0pt;
    left: 0pt;
    right: 0pt;
    width: 150mm;
    height: 150mm;
    position: absolute;
    display: flex;
    justify-content: center;
    
    
   
    
}
div .bg-1{
    margin: auto;
    overflow: hidden;
    width: 180mm;
    height: 180mm;
    position: relative;
    display: flex;
    justify-content: center;
    filter: blur(5mm); 
    
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);

}
/* div.post-background{
    margin: auto;
    overflow: hidden;
    top: 5pt;
    bottom: 5pt;
    left: auto;
    width: 160mm;
    height: 160mm;
    position: relative;
    border-radius: 5mm;
    
} */
 
div.background{
    width: 150mm;
    height: 150mm;
   
}
div.line-1{
    position: absolute;
    width: 19mm;
    height: 150mm;
    right: 22mm;
    top: 0mm;
    background-color: hsl(34.75deg 94.82% 62.16%);
}
div img.main-img{
    position: absolute;
    width: 88mm;
    height: 88mm;
    top: 35mm;
    right: 6mm;
    border-radius: 50mm;
}

div.unique-font{
    position: absolute;
    font-family: "Qwigley", cursive;
    font-size: 48px;
    font-size: 18mm;
    top: 12mm;
    left: 19mm;
    
}
div .hilight-text{
    position: absolute;
    top: 28mm;
    left: 10mm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: hsl(34.75deg 94.82% 62.16%);
    font-weight: bolder;
    font-size: 11mm;
   

}
div .agency{
    position: absolute;
    top: 31mm;
    left: 10mm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bolder; */
    font-size: 5mm;
}
div .lines{
    position: absolute;
    width: 54mm;
    top: 52mm;
    left: 10mm;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3mm;
}

div.tagline {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    width: 68mm;
    bottom: 29mm;
    left: 10mm;
    bottom: 19mm;
    font-size: 4mm;
}
div .tagline span{
    color: hsl(34.75deg 94.82% 62.16%);
}
div .button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 22mm;
    height: 5mm;
    bottom: 10mm;
    left: 10mm;
    font-size: 4mm;
    color: white;
    background-color: hsl(34.75deg 94.82% 62.16%);
    border-radius: 5mm;
    cursor: pointer;
    padding: 1mm;
}
div .button:hover{
    background-color: hsl(35, 100%, 75%);
    
}
div .contact {
    position: absolute;
    right: 5mm;
    top: 6mm;
    font-size: 3mm;
    color: rgb(76, 76, 76);
}
div .contact a{
    font-size: 4mm;
    color: black;
    font-weight: bold;
}
div .website {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    bottom: 5mm;
    right: 5mm;
    font-size: 3mm;
    font-weight: bolder;

}
div .website a{
    font-size: 3mm;
    font-weight: lighter;
    color: rgb(76, 76, 76);
}

